.App {
  text-align: center;
}


.single   {
  border: 1px solid red;
}

.single .profile  {
  border: 1px solid blue;
  display: flex;
  align-items: center;
}

.single .profile img  {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}